.node-subscription,
.taxonomy-subscription {

	margin-bottom: 1.5em;

	.view-header {
		font-size: 1.5em;
	}

	.user-profile--notification-actions {
		margin-bottom: 0;
	}

	.view-content{
		margin-top: 0.25em;
	}

	/*.user-profile-module--field {
		line-height: 1.25em;
		margin: 0;
		padding: 0;
	}*/
}

.taxonomy-subscription {
	.view-content {
		a {
			color: $red;
			line-height: 1.75em;
			display: block;
			border-bottom: 1px solid $gray-lighter;
			margin-bottom: 1em;
			padding-bottom: 1em;
		}
	}
}



/*
.taxonomy-subscription {
	.view-content {
		a {
			@extend %tag;
		}
	}
}

.node-subscription {
	.view-content {
		a {
			@extend %tag;
			background-color: $green;
		}
		a:hover {
			background-color: $green-darker;
		}
	}
}*/
